$standardBoxShadow: 0.2em 0.2em 0.4em #a3a7bd, -0.2em -0.2em 0.4em #fff; // this is from another project
$standardBoxShadowInset: inset 0.2em 0.2em 0.4em #a3a7bd, inset -0.2em -0.2em 0.4em #fff; // so is this
$generalFonts: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// UI elements
button {
    padding: 10px;
    border: transparent;
    font-size: 1em;
    font-family: $generalFonts; // make button act more like regular text
    box-shadow: $standardBoxShadow;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        box-shadow: $standardBoxShadowInset;
    }
}

// Rest of document

body {
    background-color: white;
    margin: 0;
    width: 100%; // We need body width and height be 100% for centring
    height: 100%;
    max-width: 100%;
}

.menu {
    font-family: $generalFonts;
    padding: 20px;
    box-sizing: border-box; // We need this for padding to work within our given size
    width: 600px; 
    max-width: 100%;
    margin: 0 auto; // horizontal centering

    // centring the menu
    position: absolute;
    top: 48%; // I've used 48% because it looks nicer to have it slighter higher than normal
    left: 50%; 
    transform: translate(-50%, -50%); 

    box-shadow: $standardBoxShadow;
    
    .title {
        font-weight: 400;
        font-size: 1.7em;
    }

    .description {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row; // We need this for buttons to be in a row
        justify-content: center; 
        flex-wrap: wrap; // We need this for buttons to wrap if there are too many of them
        row-gap: 20px; // space them 20px so they don't touch each other
        column-gap: 20px;

        button {
            flex: 1 1 0; // We need this for buttons to be the same size
        }
    }
}
