$standardBoxShadow: 0.2em 0.2em 0.4em #a3a7bd, -0.2em -0.2em 0.4em #fff; // this is from another project
$standardBoxShadowInset: inset 0.2em 0.2em 0.4em #a3a7bd, inset -0.2em -0.2em 0.4em #fff; // so is this
$generalFonts: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// UI elements
button {
    padding: 10px;
    border: transparent;
    font-size: 1em;
    font-family: $generalFonts; // make button act more like regular text
    box-shadow: $standardBoxShadow;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        box-shadow: $standardBoxShadowInset;
    }
}

// Rest of document

html {
    height: 100%; // allow elements to fill the page
}

body {
    background-color: white;
    margin: 0;
    width: 100%; // We need body width and height be 100% for centring
    height: 100%;
    max-width: 100%;
}

.menu {
    font-family: $generalFonts;
    padding: 20px;
    box-sizing: border-box; // We need this for padding to work within our given size
    width: 600px;
    max-width: 100%;
    margin: 0 auto; // horizontal centering
    
    background-color: white;
    // centring the menu
    position: absolute;
    top: 48%; // I've used 48% because it looks nicer to have it slighter higher than normal
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: $standardBoxShadow;

    .title {
        font-weight: 400;
        font-size: 1.7em;
    }

    .description {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row; // We need this for buttons to be in a row
        justify-content: center;
        flex-wrap: wrap; // We need this for buttons to wrap if there are too many of them
        row-gap: 20px; // space them 20px so they don't touch each other
        column-gap: 20px;

        button {
            flex: 1 1 0; // We need this for buttons to be the same size
        }
    }

    .newNoteMenu {
        margin-top: 10px;
    }
}

#editor {
    width: 100%; // We need this for editor to fill the page
    height: 100%; // ditto
}

.editorParent {
    .editorMain {
        .element { // stylings here will be from SC 10.4
            font-size: 20px;
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            .underline {
                text-decoration: underline;
            }
            .subscript {
                vertical-align: sub;
                font-size: 0.8em;
            }
            .superscript {
                vertical-align: super;
                font-size: 0.8em;
            }
            .normal {
                font-weight: normal;
            }
        }
        outline: none;
        // prevent white-space from being removed
        white-space: pre-wrap;

        // this is the size of an A4 page
        width: 210mm;
        min-height: 297mm;
        max-width: 100%; // if the page is too big, we should make it smaller
        margin: 0 auto; // horizontal centring
        margin-top: 20vh; // gap between the top of the page and the editor
        padding: 40px; // some padding
        box-sizing: border-box; // We need this for padding to work within our given size
        // border: 1px solid black; // border to stand out
        box-shadow: $standardBoxShadow;
    }

    // toolbar
    .editorToolbar {
        // use UI wide font
        font-family: $generalFonts;
        box-shadow: $standardBoxShadow;
        // take up the whole width of the page
        width: 100%;

        // make it take up some of the gap between the top of the page and the editor
        height: 15vh;

        // black but 20% opacity
        background-color: #00000010;

        // stick to the top of the page
        position: fixed;
        top: 0;
        left: 0;

        // blur the background
        backdrop-filter: blur(2px);

    }
}